@charset "utf-8";


.per-content{
    margin: 20px auto;

}
.per-content .per-left{
    width: 173px;
    height: 601px;
    float: left;
    border: 1px solid #d3d3d3;
    background: #fff;
}
.per-content .per-left h3{
    padding: 15px;
    font-size: 16px;
    color: #666;
    border-bottom: 1px solid #d3d3d3;
}
.per-meau li{
    height: 40px;
}
.per-left  h4{
    line-height: 40px;
    font-size: 16px;
    margin: 0 15px;
    color: #333;
    position: relative;
}
.per-left .per-ico1{
    vertical-align: middle;
    width: 24px;
    height: 28px;
    background-position: 1px -15px;
    display: inline-block;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    font-style: normal;
}
.per-left .per-ico2{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    background-position: 33px -449px;
    display: inline-block;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    font-style: normal;
}
.per-meau li a{
    display: block;
    line-height: 40px;
    font-size: 14px;
    padding: 0 15px;
    color: #666;
    text-decoration: none;

}
.per-content .per-left .per-meau .per-active a{
    color: #ff6c00;
    text-decoration: underline;
}
.per-right {
   border: 1px solid #ddd;
    width: 986px;
    height:796px;
    margin-left: 200px;
}
.per-right >p{
    font-size: 20px;
    color: #2696e3;
    border-bottom: 1px solid #ddd;
   height: 60px;
   line-height: 60px;
   padding-left: 20px;
}


#footer {
    margin-top: 40px;
}
.div-d{
    height:36px;
    background: #f2f2f2;
     line-height: 36px;
     font-size: 16px;
     color: #333;
}
.right-quan {
    border: 1px solid #ddd;
    height: 336px;
    width: 950px;
    margin: 20px auto 0;
   
}
.div-d .xiadan{
    margin-left: 40px;
    margin-right: 100px;
}
.div-d .dingzh{
    margin-left: 100px;
}
.div-d b{
    color: #ff6c00;
}
.quan-div1 {

    width: 652px;
    height: 248px; 
   /* background: #eee;
    border-right: 1px solid #ddd;*/
    display: inline-block;
}
.quan-div2 ,.quan-div3{
    width: 148px;
    float: right;
    height: 248px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;    
}
.quan-div4 {

    height: 60px;
  
}
.quan-div1 div{
    border-bottom: 1px solid #ddd;
    height: 82px;
    /*width: 650px;*/
}
.quan-div1 .quan-hang{
    position: relative;
    background: url(../imgs/ren.jpg) no-repeat 15px 10px;
    background-size: 70px 70px;
}
.quan-div1 .quan-sp1{
margin-left: 96px;
display: inline-block;
height: 82px;
line-height: 82px;
}
.quan-div1 .quan-sp2{
    position: absolute;
    left: 398px;
    top:22px;
    height: 40px;
 
    line-height: 22px;
}
.quan-div1 .quan-sp3{
    position: absolute;
    left: 556px;
    top:35px;
}
.quan-div3 span{
    display: inline-block;
    text-align: center;
   margin-top: 100px;
   width: 100%;
   text-align: center;
   height: 40px;
   line-height: 28px;
}
.quan-div2 div{
   margin-top: 106px; 
   text-align: center;
}
.quan-div2 div a{
  text-decoration: underline;
  color: #008de1;
}
.quan-div2 div span{
    background: #ffe3d1;
    color:#ff6c00;
    display: inline-block;
    padding: 3px 20px;
    margin-top: 12px;
}
.quan-div4 {
    height: 30px;
    display: inline-block;
    margin-left: 736px;
    margin-top: 15px;
    font-size: 18px;
    color: #ec6a17;
}
.quan-div4 span{

}

















